@{
    ViewData["Title"] = "Error";
    var message = ViewData["Message"] as string;
    var code = ViewData["Code"] as string;
}

<h1>Error @code</h1>
<h2 style="font-weight:normal;">
    @switch (code)
    {
        case "400":
            <text>Bad Request</text>
            break;
        case "401":
            <text>Unauthorized</text>
            break;
        case "403":
            <text>Forbidden</text>
            break;
        case "404":
            <text>Page Not Found</text>
            break;
        case "500":
            <text>Internal Server Error</text>
            break;
        default:
            <text>Unknown Error</text>
            break;
    }
</h2>
@if (!string.IsNullOrEmpty(message))
{
    <h2 style="font-weight:normal">Message: @message</h2>
}
